# Ignore node_modules folder
node_modules

# Ignore build output directories
.next
out

# Ignore config files
*.config.js
*.config.mjs
*.config.ts

# Ignore JSON configuration files
*.json

# Ignore public static assets
public

# Ignore TypeScript build files
*.d.ts
