@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/global.css */
:root {
  --primary-color: #6ee7b7; /* emerald */
  --background-color: #181818;
  --primary-text-color: #e0e0e0;
  --secondary-text-color: #b0b0b0;
  --border-color: #444444;
  --border-radius: 6px;
  --border-width: 1.5px;
  --font-family: "Inter", sans-serif;
}

/* Dark Theme */
[data-theme="dark"] {
  --primary-color: #6ee7b7; /* emerald */
  --background-color: #2e2e2e;
  --primary-text-color: #e0e0e0;
  --font-family: "Inter", sans-serif;
}

[data-theme="light"] {
  --primary-color: #6ee7b7; /* emerald */
  --background-color: #fff;
  --primary-text-color: #e0e0e0;
  --font-family: "Inter", sans-serif;
}

/* Apply the variables */
body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: var(--font-family);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-primary {
    background-color: var(--primary-color);
  }
  .text-primary {
    color: var(--primary-color);
  }
  .bg-background {
    background-color: var(--background-color);
  }
  .text-background {
    color: var(--background-color);
  }
  .text-primary-text {
    color: var(--primary-text-color);
  }
  .text-secondary-text {
    color: var(--secondary-text-color);
  }
  .border-custom {
    border-color: var(--border-color);
  }
  .border-custom-width{
    border-width: var(--border-width);
  }
  .rounded-custom {
    border-radius: var(--border-radius);
  }
  .fill-primary{
    fill: var(--primary-color);
  }
  .fill-secondary {
    fill: var(--secondary-text-color);
  }
  .stroke-secondary{
    stroke: var(--secondary-text-color);
  }
  .stroke-primary {
    stroke: var(--primary-color);
  }
  /* Add more utilities for any new variables */
}

/* styles/globals.css or any of your global CSS files */

html {
  scroll-behavior: smooth;
}

/* {
   Helps transition from light to dark mode, easier on the eyes
}*/

/* styles/globals.css or any of your global CSS files */
